.bottom_header {
  background-color: #176b87;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.header_logo img {
  height: 4rem;
  width: 10rem;
  display: block;
  object-fit: cover;
}
.nav_links {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  column-gap: 4rem;
  font-size: 1.2rem;
  position: static;
}
.nav_links_wrap {
  align-self: baseline;
  text-decoration: none;
  color: #fff;
}
.nav_links_wrap Link {
  color: #fff;
}
.nav_links_wrap:hover {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 4px solid;
  border-color: #fff;
  color: #fff;
}
.header_user {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.header_user button {
  align-self: center;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #86b6f6;
  color: #fff;
  cursor: pointer;
}
.header_user button:hover {
  font-weight: 700;
  background-color: #fff;
  color: #86b6f6;
}
